#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
}

.modal-bg {
  top: 0;
  left: 0;
  background-color: rgba(50, 50, 50, 0.7);
  backdrop-filter: blur(8px);
  position: fixed;
  height: 100%;
  width: 100%;
}

.card {
  background-color: black;
  padding: 5px;
  border-radius: 20px;
  margin: 20px;
}
